Source: wok
Section: misc
Priority: optional
Maintainer: Lucio Correia <luciojhc@linux.vnet.ibm.com>
Standards-Version: 3.9.8
Build-Depends: cython, 
               debhelper (>= 10),
               dh-python,
               python,
               pkg-config,
               openssl,
               pysassc,
               pyflakes,
               xsltproc
Homepage: https://github.com/kimchi-project/wok

Package: wok-dev
Architecture: all
Depends: ${misc:Depends}
Description: wok files for plugin development
 Wok is a cherrypy-based web framework with HTML5 support that is extended by
 plugins which expose functionality through REST APIs.
 .
 This package provides files like .scss that can be needed for wok plugins
 creation.

Package: wok
Architecture: all
Depends: gettext,
         nginx,
         openssl,
         python-cheetah,
         python-cherrypy3,
         python-m2crypto,
         python-pam,
         python-lxml,
         python-ldap,
         python-psutil,
         python-jsonschema,
         fonts-font-awesome,
         logrotate,
         texlive-fonts-extra,
         ${misc:Depends},
         ${python:Depends}
Description: Webserver Originated from Kimchi
 Wok is a cherrypy-based web framework with HTML5 support that is extended by
 plugins which expose functionality through REST APIs.
 .
 Examples of such plugins are Kimchi (Virtualization Management) and Ginger
 (System Administration). Wok comes with a sample plugin for education purposes.
 .
 Wok runs through wok service.
