Source: wok
Section: misc
Priority: optional
Maintainer: Lucio Correia <luciojhc@linux.vnet.ibm.com>
Standards-Version: 3.9.8
Build-Depends: cython,
               debhelper (>= 10),
               dh-python,
               dita-ot,
               python,
               pkg-config,
               openssl,
               pysassc,
               pyflakes,
               xsltproc,
               gettext,
               nginx,
               logrotate,
               sudo,
               python-cheetah,
               python-cherrypy3,
               python-jsonschema,
               python-ldap,
               python-m2crypto,
               python-pam,
               python-psutil,
               texlive-fonts-extra
Homepage: https://github.com/kimchi-project/wok

Package: wok-dev
Architecture: all
Depends: ${misc:Depends}
Description: wok files for plugin development
 Wok is a cherrypy-based web framework with HTML5 support that is extended by
 plugins which expose functionality through REST APIs.
 .
 This package provides files like .scss that can be needed for wok plugins
 creation.

Package: wok
Architecture: all
Depends: gettext,
         libjs-bootstrap,
         libjs-es5-shim,
         libjs-jquery,
         libjs-jquery-ui,
         libjs-jquery-datatables,
         libjs-list.js,
         libjs-lodash,
         libjs-moment,
         libjs-typeahead.js,
         lsb-base (>= 3.2-14),
         nginx,
         openssl,
         python-cheetah,
         python-cherrypy3,
         python-m2crypto,
         python-pam,
         python-lxml,
         python-ldap,
         python-psutil,
         python-jsonschema,
         fonts-font-awesome,
         logrotate,
         sudo,
         texlive-fonts-extra,
         ${misc:Depends},
         ${python:Depends}
Description: Webserver Originated from Kimchi
 Wok is a cherrypy-based web framework with HTML5 support that is extended by
 plugins which expose functionality through REST APIs.
 .
 Examples of such plugins are Kimchi (Virtualization Management) and Ginger
 (System Administration). Wok comes with a sample plugin for education purposes.
 .
 Wok runs through wok service.
