#!/usr/bin/make -f
export DH_VERBOSE=1

export AUTOPOINT=true

%:
	dh $@ --with python2

override_dh_clean:
	dh_clean po/gen-pot po/stamp-po src/wok/plugins/sample/po/stamp-po \
	$(shell find ./ -name '*.gmo'| sed 's#[^/]*$$#*.gmo#'| sort|uniq) \
	$(shell find ./ -name '*.mo' -type l)

override_dh_link:
	dh_link
	# Use Debian-packaged jquery
	# libjs-bootstrap: /usr/share/javascript/bootstrap/js/bootstrap.min.js
	rm -f $(CURDIR)/debian/wok/ui/libs/bootstrap/bootstrap.min.js
	dh_link -p wok usr/share/javascript/bootstrap/js/bootstrap.min.js usr/share/wok/ui/libs/bootstrap/bootstrap.min.js
	# libjs-es5-shim: /usr/share/javascript/es5-shim/es5-shim.min.js
	rm -f $(CURDIR)/debian/wok/ui/libs/es5-shim/es5-shim.min.js
	dh_link -p wok usr/share/javascript/es5-shim/es5-shim.min.js usr/share/wok/ui/libs/es5-shim/es5-shim.min.js
	# libjs-jquery: /usr/share/javascript/jquery/jquery.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/jquery/jquery.min.js
	dh_link -p wok usr/share/javascript/jquery/jquery.min.js usr/share/wok/ui/libs/jquery/jquery.min.js
	# libjs-jquery-ui: /usr/share/javascript/jquery-ui/jquery-ui.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/jquery-ui/jquery-ui.min.js
	dh_link -p wok usr/share/javascript/jquery-ui/jquery-ui.min.js usr/share/wok/ui/libs/jquery-ui/jquery-ui.min.js
	# libjs-jquery-ui: /usr/share/javascript/jquery-ui/ui/i18n/jquery-ui-i18n.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/jquery-ui/jquery-ui-i18n.min.js
	dh_link -p wok usr/share/javascript/jquery-ui/ui/i18n/jquery-ui-i18n.min.js usr/share/wok/ui/libs/jquery-ui/jquery-ui-i18n.min.js
	# libjs-jquery-ui: /usr/share/javascript/jquery-ui/themes/base/jquery-ui.min.css
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/jquery-ui/themes/base/jquery-ui.min.css
	dh_link -p wok usr/share/javascript/jquery-ui/themes/base/jquery-ui.min.css usr/share/wok/ui/libs/jquery-ui/themes/base/jquery-ui.min.css
	# <package>: jquery-i18n/jquery.i18n.min.js
	#rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/jquery-i18n/jquery.i18n.min.js
	#dh_link -p wok usr/share/javascript/jquery-i18n/jquery.i18n.min.js usr/share/wok/ui/libs/jquery-i18n/jquery.i18n.min.js
	# libjs-jquery-datatables: /usr/share/javascript/jquery-datatables/jquery.dataTables.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/datatables/js/datatables.min.js
	dh_link -p wok usr/share/javascript/jquery-datatables/jquery.dataTables.min.js usr/share/wok/ui/libs/datatables/js/datatables.min.js
	# libjs-jquery-datatables: /usr/share/javascript/jquery-datatables/css/jquery.dataTables.min.css
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/datatables/css/datatables.min.css
	dh_link -p wok usr/share/javascript/jquery-datatables/css/jquery.dataTables.min.css usr/share/wok/ui/libs/datatables/css/datatables.min.css
	# libjs-list.js: /usr/share/javascript/list.js/list.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/list-js/list.min.js
	dh_link -p wok usr/share/javascript/list.js/list.min.js usr/share/wok/ui/libs/list-js/list.min.js
	# libjs-lodash: /usr/share/javascript/lodash.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/lodash/lodash.js
	dh_link -p wok usr/share/javascript/lodash.js usr/share/wok/ui/libs/lodash/lodash.js
	# libjs-moment: /usr/share/javascript/moment/moment-with-locales.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/moment/moment-with-locales.min.js
	dh_link -p wok usr/share/javascript/moment/moment-with-locales.min.js usr/share/wok/ui/libs/moment/moment-with-locales.min.js
	# libjs-typeahead.js: /usr/share/javascript/typeahead.js/typeahead.bundle.min.js
	rm -f $(CURDIR)/debian/wok/usr/share/wok/ui/libs/typeahead/typeahead.bundle.min.js
	dh_link -p wok usr/share/javascript/typeahead.js/typeahead.bundle.min.js usr/share/wok/ui/libs/typeahead/typeahead.bundle.min.js

override_dh_auto_build:
	$(MAKE) -j1

override_dh_auto_install:
	dh_auto_install
	#rm -Rf $(CURDIR)/debian/tmp/etc/nginx
	mkdir -p $(CURDIR)/debian/tmp/etc/nginx/sites-available
	rm -f $(CURDIR)/debian/tmp/usr/share/wok/doc/wokd.8
	rm -f $(CURDIR)/debian/tmp/var/log/wok/*.log
	# for wok-dev
	mkdir -p $(CURDIR)/debian/tmp/usr/share/wok/scss
	#cp $(CURDIR)/ui/css/src/modules/* $(CURDIR)/debian/tmp/usr/share/wok/scss
	cp -fr $(CURDIR)/ui/css/src/* $(CURDIR)/debian/tmp/usr/share/wok/scss

override_dh_auto_test:
	echo "Skipping tests"
